.nav{
   list-style: none;
   margin: 0;
   padding: 0;
   padding-top: 10px;
   padding-bottom: 8px;
   text-align: center;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: white;
   color: #16191b;
}
.nav li{
   display: inline;
   margin: 6px;
   font-family: "EB Garamond", "serif";
   font-size: 16px;
   text-transform: uppercase;
   color: #16191b;
}
a:visited {
  color: #16191b;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: whitesmoke;
}
.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.img-caption {
  text-align: center;
  font-size: 16px;
}
.blog-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container-bloghome {
  display: grid;
  grid-template-columns: 1fr;
}
.blogpost-entry {
  display: grid;
  grid-template-columns: 20% 80%;
  height: auto;
  padding: 5px;
  margin: 20px;
  align-items: center;
}
.blog-icon {
  box-align: left;
  width: 100%
}
.container {
  font-family: "EB Garamond", "serif";
  text-align: center;
  color: #16191b;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 5px;
}
h3 {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
}
p {
  font-size: 18px;
  margin: 0 auto;
  margin-left: 11%;
  max-width: 80%;
}
.blogpost {
  font-family: "EB Garamond", "serif";
  margin: 0 auto;
}